.dashboardContainer {
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
font-family: Roboto, sans-serif;
background-Color: #0d1b2b;
color: #dedede;
Height: 100vh;
width: 100vw;
}
.mainContent {
top:0%;
width: 87vw;
flex: 1;
}

        .profileSection {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-Items: center;
        gap: 2vw;
        padding: 1vw 2vw;
        background-color: #2962FF;
        
        }
        .profileImg {
        width: 10vw;
        height: 10vw;
        border-Radius: 50%;
        background-color: #303b5a;
        /* transform: translate(-0.5vw , 0); */
        border-Radius: 50%;
        box-shadow: 0.05vw 0.05vw 0.2vw 0 rgb(33,33,33);

        }
        .profileInfo {
        display: flex;
        flex-Direction:column;
        align-items: flex-start;
        justify-content: center;
        background-color: #303b5a;
        gap: 1vw;
        }
        .ProfileUpperSection {
        display: flex;
        flex-Direction:row;
        align-items: center;
        justify-content: center;
        gap: 2vw;
        }
        .ProfileLowerSection {
        display: flex;
        flex-Direction:row;
        align-items: center;
        justify-content: center;
        }
        .NameRoleWrapper {
        display: flex;
        flex-Direction:row;
        align-items: center;
        justify-content: center;
        }
        .ButtonsWrapper{
                    display: flex;
        flex-Direction:row;
        align-items: center;
        justify-content: center;
        }
        .checkInBtn {
        margin-Right: 10px;
        background-Color: #2962FF;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-Radius: 4px;
        }
        .checkOutBtn {
        background-Color: #C2185B;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-Radius: 4px;
        }
.statsContainer {
display: flex;
gap: 20px;
margin-Top: 20px;
}
.statsCard {
background-Color: #1C2C3A;

border-Radius: 10px;
flex: 1;
}
.iconWrapper {
font-Size: 24px;
margin-Bottom: 10px;
}
.detailsGrid {
background-Color: #1C2C3A;

border-Radius: 10px;
margin-Top: 10px;
display: grid;
gap: 10px;
}